%reset {
	color: inherit;
	font-size: 1em;
	font-weight: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	text-decoration: none;
}

%nocollapse {
	margin-bottom: -1px;
	margin-top: -1px;
	padding-bottom: 1px;
	padding-top: 1px;
}

%clearFloat {
	&:after {
		content: "\a0 ";
		display: block;
		clear: both;
		width: 0;
		height: 0;
		visibility: hidden;
	}
}
