
<head>
    <!-- On thin ice, template created by Martin 'Windgazer' Reurings -->
    <!-- To modify it is recommended to fork on git, SASS is used for the CSS generation. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{page.title}} — {{site.name}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{site.tagline}} | {{site.title}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:title" content="{{page.title}} — {{site.name}}" />
    <meta property="og:description" content="{{site.author}} | {{site.name}}" />
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="241164325961701" />
    <meta property="og:image" content="http://www.gravatar.com/avatar/ebccf429d533381a57ca5797aa85a7f2.png" />
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <link rel="shortcut icon" href="/favicon.png">
    {% if include.styles %}{% assign styles = include.styles | split: "|" %}{% for value in styles %}<link rel="stylesheet" type="text/css" href="/css/{{ value }}.css" media="screen">
    {% endfor %}{% else %}<link rel="stylesheet" type="text/css" href="/css/base.css" media="screen">
    {% endif %}
</head>
