<!DOCTYPE html>
<html>
    {% include head.html styles=include.styles %}
<body>
    <section id="page">
        <header>
            <h1>{{site.title}}</h1>
        </header>
        <main>
            <aside>
                <nav>
                    {% for page in site.data.navigation %}<li><a href="{{site.url}}{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                </nav>
                {% include social.html %}
            </aside>
            <article id="{{ include.id }}">

                {{ include.content }}

            </article>
        </main>
        <footer>
            <p><span>©{{site.author}}</span> - Blog powered by <a href="http://github.io/">github.io</a></p>
        </footer>
    </section>
</body>
</html>
