.archive {
	@extend %reset;
}

.latest {
	@extend %reset;
	@extend %p_box_a;
	width: 48em;
	white-space: nowrap;
	overflow: auto;
}

.media {
	@extend %reset;
	@extend %p_box;
	@extend %m_content;
	border: ($m_whitespace / 10) solid $c_content;
	border-bottom: 0;
	border-right: 0;
	display: inline-block;
	padding-left: (8em + $m_whitespace);
	position: relative;
	width: (15.25em - $m_whitespace);
	white-space: normal;
	&:nth-child(2n+0) {
		padding-left: $m_whitespace;
		padding-right: 8em;
		& > img {
			left: auto;
			right: 0;
		}
	}
	& > img {
		position: absolute;
		top: $m_whitespace;
		left: $m_whitespace;
		width: 7em;
		clip: rect(0, 7em, 7em, 0);
	}
	& > h3 {
		text-align: left;
		margin-bottom: 0.25em;
		margin-top: 0;
	}
	& > time {
		font-size: 0.75em;
		position: relative;
		top: -1em;
	}
	& > p {
		height: 2.25em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

