%p_box {
	padding-top: $m_whitespace;
	padding-left: $m_whitespace;
}

%p_box_a {
	padding-bottom: $m_whitespace;
	padding-right: $m_whitespace;
}

%m_content {
	margin-bottom: $m_whitespace;
	margin-right: $m_whitespace;
}

@import url(http://fonts.googleapis.com/css?family=Marck+Script|Vollkorn:400italic,400,700);

h1, h2, h3, h4, h5, p {
	@extend %reset;
	@extend %m_content;
}

body {
	font-family: 'Vollkorn', serif;
}

h1, h2, h3, h4, h5 {
	margin-top: ($m_whitespace * 1.5);
	text-align: left;
	font-size: 1.25em;
	font-family: 'Marck Script', cursive;
    & + p {
    	text-indent: 1em;
    }
}

h1 {
	text-align: center;
	font-size: ($m_whitespace * 1.5);
}

p {
	@extend %m_content;
}

a {
	color: $c_cta;
}
